*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c0c0c0;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.img-responsive {
  display: block;
  margin-right: 2rem;
  border-radius: 5px;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list__item:not(:last-child) {
  margin-right: 2rem;
}

.nav__list__item:nth-of-type(1) {
  margin-left: auto;
}

.nav__list__item:nth-of-type(6) {
  margin-left: auto;
}

.nav__list__link {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__list__link:hover {
  color: #333;
}

.nav__list__link:focus {
  color: #333;
}
/*# sourceMappingURL=estilos.css.map */