*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-dark: #333;
$header-bg-color: #c0c0c0;
$link-color: #fff;
$primary-font: Helvetica, "Helvetica Neue", Arial, sans-serif;

.header {
  padding: 2rem;
  display: flex;
  align-items: center;
  background-color: $header-bg-color;
  font-family: $primary-font;
}

.img-responsive {
  display: block;
  margin-right: 2rem;
  border-radius: 5px
}

.nav {
  flex-grow: 1;
  &__list {
    list-style: none;
    display: flex;
    &__item {
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &:nth-of-type(1) {
          margin-left: auto;
      }
      &:nth-of-type(6) {
        margin-left: auto;
      }
    }
    &__link {
      text-decoration: none;
      color: $link-color;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $color-dark;
      }
      &:focus {
        color: $color-dark;
      }
    }
  }
}
